/* ChatContent.css */
.center-container {
    height: 50px; /* Set an appropriate height for the container */
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .styled-container {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
    max-width: 800px;
    height: 50px;
  }
  
  .sended {
    justify-content: flex-end;
    .content {
      background-color: #4f04ff21;
    }
    width: fit-content;
  }
  
  .received {
    justify-content: flex-start;
    .content {
      background-color: #9900ff20;
    }
    width: fit-content;
  }
  .message-inside{
    display: flex;
    width: 100%;
    .sended{
        justify-content: flex-end;
    }
    .received{
        justify-content: flex-start;
    }
  }
  .messages-chat1{
    max-width: 80%;
    background-color: black;
  }
  .messages-chat2{
    max-width: 80%;
    background-color: #4c4c4c;
  }
  .input-container {
    width: 100%;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    background-color: #ffffff34;
    input {
      width: 90%;
      height: 60%;
      background-color: transparent;
      color: white;
      border: none;
      padding-left: 1rem;
      font-size: 1.2rem;

      &::selection {
        background-color: #9a86f3;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      padding: 0.3rem 2rem;
      border-radius: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #9a86f3;
      border: none;
      @media screen and (min-width: 720px) and (max-width: 1080px) {
        padding: 0.3rem 1rem;
        svg {
          font-size: 1rem;
        }
      }
      svg {
        font-size: 2rem;
        color: white;
      }
    }
  }
 
  .emoji-picker-react {
    position: absolute;
    top: -350px;
    background-color: #080420;
    box-shadow: 0 5px 10px #9a86f3;
    border-color: #9a86f3;
    .emoji-scroll-wrapper::-webkit-scrollbar {
      background-color: #080420;
      width: 5px;
      &-thumb {
        background-color: #9a86f3;
      }
    }
    .emoji-categories {
      button {
        filter: contrast(0);
      }
    }
    .emoji-search {
      background-color: transparent;
      border-color: #9a86f3;
    }
    .emoji-group:before {
      background-color: #080420;
    }
  }
  .button-container {
    display: flex;
    align-items: center;
    color: white;
    gap: 1rem;
    .emoji {
      position: relative;
      svg {
        font-size: 1.5rem;
        color: #ffff00c8;
        cursor: pointer;
      }
    }
}