.uppercontainer{
    padding: 20px 100px;
}
.containerArea{
    display: grid;
    grid-template-columns: repeat(5, 3fr);
    grid-template-rows: repeat(6, 3fr);
    row-gap: 10px;
    column-gap: 10px;
}
.leftPane{
    display: flex;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 0px 10px;
    align-items: end;
    padding: 5px;
    flex-direction: column;
    background-color: #F5F5F5;
}
.stageArea{
    position: relative;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 7;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.main-textarea{
    resize: none;
    border: none;
    outline: none;
    font-family: monospace;
    font-size: 18px;
    caret-color: transparent;
    background-color: transparent;
    overflow-wrap: break-word;
    word-wrap: break-word;
    height: 100%;
}
